/* .exercise-card {
    width: 250px !important;
    height: 195px !important;
    overflow: hidden;
}

.exercise-con {
    margin: 5px 10px 0px;
}

.exercise-name {
    color: #007bff;
    text-decoration: underline;
} */

.el-exercise-card {
    display: flex;
    flex-wrap: wrap;
}

.ec-exercise-container {
    border: 1px solid black;
    border-radius: .25rem;
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.ex-label-input-pair {
    display: flex;
}

.ecf-input-container {
    display: flex;
}