.ex-outer-div {
    text-align: center;
}

.ex-form-container {
    display: inline-block;
    margin-top: 20px;
}

.el-exercise-card {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: 43px;
}

.ec-exercise-name {
    font-weight: 500;
}

.ec-exercise-container {
    background-image: linear-gradient(#A8FEFF, #09FDFF);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
    border-radius: .25rem;
    margin: 5px;
    padding: 5px;
    min-width: 200px;
}

.ex-label-input-container {
    display: flex;
}

.ex-input-container {
    flex-direction: column;
    margin-left: 34px;
}

.excr-input {
    height: 24px;
    width: 277px;
    margin-bottom: 20px;
}

.excr-label {
    margin-bottom: 2px;
}

.excr-set-input {
    height: 24px;
    width: 100px;
}

.ex-label-input-pair {
    display: flex;
}

.ecf-input-container {
    position: relative;
    right: 16px;
    margin-top: 34px;
    display: flex;
}

.ee-input-container {
    display: flex;
}

.ee-input {
    width: 50px;
    height: 24px;
    margin-bottom: 10px;
}

.ec-x {
    margin-left: 34px;
}

.ec-hr {
    margin-top: 4px;
    margin-bottom: 4px;
}

.el-plus {
    margin-left: 5px;
}

.ee-minus {
    margin-left: 34px;
}

.ec-minus {
    margin-left: 34px;
}

.ec-exercise-name {
    font-weight: 500;
}