.ex-form-container {
    margin-left: 5px;
}

.el-exercise-card {
    display: flex;
    flex-wrap: wrap;
}

.ec-exercise-container {
    border: 1px solid black;
    border-radius: .25rem;
    margin: 5px;
    padding: 5px;
    min-width: 200px;
}

.ex-label-input-container {
    display: flex;
}

.ex-input-container {
    flex-direction: column;
    margin-left: 34px;
}

.excr-input {
    height: 24px;
    width: 277px;
    margin-bottom: 24px;
}

.excr-label {
    margin-bottom: 24px;
}

.excr-set-input {
    height: 24px;
}

.ex-label-input-pair {
    display: flex;
}

.ecf-input-container {
    display: flex;
    margin-bottom: 24px;
}

.ee-input-container {
    display: flex;
}

.ee-input {
    width: 50px;
    height: 24px;
    margin-bottom: 24px;
}

.ec-x {
    margin-left: 34px;
}

.el-hr {
    margin-top: 4px;
    margin-bottom: 4px;
}

.el-plus {
    margin-left: 5px;
}

.ee-minus {
    margin-left: 34px;
}

.ec-minus {
    margin-left: 34px;
}