.aw-workout-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aw-input {
    width: 50px;
    height: 24px;
    margin-bottom: 24px;
}

.aw-set {
    margin-bottom: 24px;
}

.aw-exercise-input-container {
    background-image: linear-gradient(#A8FEFF, #09FDFF);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
    border-radius: .25rem;
    display: flex;
    margin: 5px;
    padding: 5px;
    width: 300px;
    justify-content: space-between;
}

.aw-input-container {
    margin-left: 40px; 
    margin-right: 5px;
}

.aw-save {
    margin-left: 5px;
}

.aw-minus {
    margin-left: 34px;  
}

.aw-hr {
    margin-top: 4px;
    margin-bottom: 4px;
    border-color: grey;
}

.aw-workout-name {
    text-align: center;
    font-weight: 500;
}

.aw-main-container {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: .25rem;
}

.aw-icon-container {
    margin-left: 36px;
}