.aw-workout-container {
    display: flex;
    flex-wrap: wrap;
}

.aw-input {
    width: 50px;
    height: 24px;
    margin-bottom: 24px;
}

.aw-set {
    margin-bottom: 24px;
}

.aw-exercise-input-container {
    border: 1px solid black;
    border-radius: .25rem;
    display: flex;
    margin: 5px;
    padding: 5px;
    width: 300px;
}

.aw-input-container {
    margin-left: 40px; 
    margin-right: 5px;
}

.aw-save {
    margin-left: 5px;
}

.aw-minus {
    margin-left: 34px;  
}

.aw-hr {
    margin-top: 4px;
    margin-bottom: 4px;
}