.set-container {
    margin-bottom: 15px;
}

.set {
    width: 200px;
    margin-bottom: 20px;
}

.input {
    width: 60px;
    height: 24px;
    margin-bottom: 20px;
}

.input-container {
    margin-left: 10px;
    width: 70px;
}

.set-input-container {
    display: flex;
    /* border: 1px lightgrey solid; */
    border-radius: .25rem;
    min-width: 310px;
    overflow: hidden;
    background-color: white;
    margin-right: 20px;
}

.aw-container {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.aw-exercise-name {
    text-decoration: underline;
    color: black;
}

.aw-remove-icon {
    margin-left: 25px;
}

.aw-save-icon {
    margin-left: 45px;
}