.cw-exercise-container {
    display: flex;
    border: 1px solid black;
    border-radius: .25em;
    margin: 5px;
    width: 300px;
    padding: 5px;
}

.cw-workout-container {
    display: flex;
    flex-wrap: wrap;
}

.cw-results-container {
    margin-left: 40px;
}

.cw-edit {
    margin-left: 5px;
}

.cw-x {
    margin-left: 34px;
}

.cw-hr {
    margin-top: 4px;
    margin-bottom: 4px;
}

.cwe-save {
    margin-left: 5px;
}

.cwe-minus {
    margin-left: 34px;
}