{
  "users": [
    {
      "id": 1,
      "name": "chase",
      "email": "chase@email.com",
      "password": "123"
    },
    {
      "id": 2,
      "name": "corri",
      "email": "corri@email.com",
      "password": "123"
    },
    {
      "id": 3,
      "name": "matt",
      "email": "matt@email.com",
      "password": "123"
    }
  ],
  "workouts": [
    {
      "id": 1,
      "userId": 1,
      "name": "unassigned"
    },
    {
      "id": 2,
      "userId": 2,
      "name": "unassigned"
    },
    {
      "id": 3,
      "userId": 3,
      "name": "unassigned"
    },
    {
      "id": 4,
      "userId": 2,
      "name": "back and bicep 1"
    },
    {
      "userId": 2,
      "name": "chest and tricep",
      "id": 5
    },
    {
      "userId": 2,
      "name": "legs and shoulders",
      "id": 6
    },
    {
      "id": 7,
      "userId": 2,
      "name": "back and bicep 2"
    },
    {
      "userId": 2,
      "name": "back and bicep 3",
      "id": 8
    }
  ],
  "exercises": [
    {
      "id": 1,
      "workoutId": 4,
      "format": "reps-lbs",
      "name": "bicep curls",
      "plan": "set 1: 12 reps, 30 lbs--set 2: 10 reps, 35 lbs--set 3: 8 reps, 40 lbs"
    },
    {
      "id": 2,
      "workoutId": 4,
      "format": "reps-lbs",
      "name": "rows",
      "plan": "set 1: 12 reps, 70 lbs--set 2: 10 reps, 80 lbs--set 3: 8 reps, 90 lbs"
    },
    {
      "id": 3,
      "workoutId": 4,
      "format": "reps-bodyweight",
      "name": "pull ups",
      "plan": "set 1: 15 reps, bodyweight--set 2: 15 reps, bodyweight--set 3: 15 reps, bodyweight"
    },
    {
      "id": 4,
      "workoutId": 5,
      "format": "reps-lbs",
      "name": "tricep extensions",
      "plan": "set 1: 12 reps, 50 lbs--set 2: 10 reps, 60 lbs--set 3: 8 reps, 70 lbs"
    },
    {
      "id": 5,
      "workoutId": 5,
      "format": "reps-lbs",
      "name": "bench press",
      "plan": "set 1: 12 reps, 135 lbs--set 2: 10 reps, 145 lbs--set 3: 8 reps, 155 lbs"
    },
    {
      "id": 6,
      "workoutId": 5,
      "format": "reps-lbs",
      "name": "dumbbell flyes",
      "plan": "set 1: 10 reps, 30 lbs--set 2: 10 reps, 30 lbs--set 3: 10 reps, 30 lbs"
    },
    {
      "id": 7,
      "workoutId": 6,
      "format": "reps-lbs",
      "name": "military press",
      "plan": "set 1: 12 reps, 80 lbs--set 2: 10 reps, 90 lbs--set 3: 8 reps, 100 lbs"
    },
    {
      "id": 8,
      "workoutId": 6,
      "format": "reps-lbs",
      "name": "squats",
      "plan": "set 1: 12 reps, 135 lbs--set 2: 10 reps, 145 lbs--set 3: 8 reps, 155 lbs"
    },
    {
      "id": 9,
      "workoutId": 6,
      "format": "reps-lbs",
      "name": "calf raises",
      "plan": "set 1: 20 reps, 50 lbs--set 2: 20 reps, 50 lbs--set 3: 20 reps, 50 lbs"
    },
    {
      "id": 10,
      "workoutId": 7,
      "format": "reps-lbs",
      "name": "bicep curls 2",
      "plan": "set 1: 12 reps, 35 lbs--set 2: 10 reps, 40 lbs--set 3: 8 reps, 45 lbs"
    },
    {
      "id": 11,
      "workoutId": 8,
      "format": "reps-lbs",
      "name": "bicep curls 3",
      "plan": "set 1: 12 reps, 40 lbs--set 2: 10 reps, 45 lbs--set 3: 8 reps, 50 lbs"
    },
    {
      "workoutId": 7,
      "format": "reps-lbs",
      "name": "rows",
      "plan": "set 1: 12 reps, 70 lbs--set 2: 10 reps, 80 lbs--set 3: 8 reps, 90 lbs",
      "id": 12
    },
    {
      "workoutId": 7,
      "format": "reps-bodyweight",
      "name": "pull ups",
      "plan": "set 1: 15 reps, bodyweight--set 2: 15 reps, bodyweight--set 3: 15 reps, bodyweight",
      "id": 13
    },
    {
      "workoutId": 8,
      "format": "reps-bodyweight",
      "name": "pull ups",
      "plan": "set 1: 15 reps, bodyweight--set 2: 15 reps, bodyweight--set 3: 15 reps, bodyweight",
      "id": 14
    },
    {
      "workoutId": 8,
      "format": "reps-lbs",
      "name": "rows",
      "plan": "set 1: 12 reps, 70 lbs--set 2: 10 reps, 80 lbs--set 3: 8 reps, 90 lbs",
      "id": 15
    }
  ],
  "completedWorkouts": [
    {
      "id": 1,
      "userId": 2,
      "workoutId": 4,
      "date": "2020-01-04T21:40:48.727Z",
      "active": false
    },
    {
      "id": 2,
      "userId": 2,
      "workoutId": 4,
      "date": "2020-01-04T21:41:25.872Z",
      "active": false
    },
    {
      "id": 3,
      "userId": 2,
      "workoutId": 4,
      "date": "2020-01-04T21:42:00.470Z",
      "active": false
    },
    {
      "id": 4,
      "userId": 2,
      "workoutId": 5,
      "date": "2020-01-04T21:42:23.412Z",
      "active": false
    },
    {
      "id": 5,
      "userId": 2,
      "workoutId": 7,
      "date": "2020-01-04T21:42:48.742Z",
      "active": false
    },
    {
      "id": 6,
      "userId": 2,
      "workoutId": 7,
      "date": "2020-01-04T21:43:47.668Z",
      "active": false
    },
    {
      "id": 7,
      "userId": 2,
      "workoutId": 8,
      "date": "2020-01-04T21:44:12.346Z",
      "active": false
    },
    {
      "id": 8,
      "userId": 2,
      "workoutId": 8,
      "date": "2020-01-04T21:45:08.816Z",
      "active": false
    }
  ],
  "results": [
    {
      "completedWorkoutId": 1,
      "exerciseId": 1,
      "performance": "10 reps--8 reps--8 reps",
      "id": 1
    },
    {
      "completedWorkoutId": 1,
      "exerciseId": 2,
      "performance": "12 reps--10 reps--8 reps",
      "id": 2
    },
    {
      "completedWorkoutId": 1,
      "exerciseId": 3,
      "performance": "15 reps--15 reps--15 reps",
      "id": 3
    },
    {
      "completedWorkoutId": 2,
      "exerciseId": 1,
      "performance": "12 reps--10 reps--8 reps",
      "id": 4
    },
    {
      "completedWorkoutId": 2,
      "exerciseId": 3,
      "performance": "15 reps--15 reps--15 reps",
      "id": 5
    },
    {
      "completedWorkoutId": 2,
      "exerciseId": 2,
      "performance": "12 reps--10 reps--8 reps",
      "id": 6
    },
    {
      "completedWorkoutId": 3,
      "exerciseId": 1,
      "performance": "12 reps--10 reps--8 reps",
      "id": 7
    },
    {
      "completedWorkoutId": 3,
      "exerciseId": 3,
      "performance": "15 reps--15 reps--15 reps",
      "id": 8
    },
    {
      "completedWorkoutId": 3,
      "exerciseId": 2,
      "performance": "12 reps--10 reps--8 reps",
      "id": 9
    },
    {
      "completedWorkoutId": 4,
      "exerciseId": 4,
      "performance": "12 reps--10 reps--8 reps",
      "id": 10
    },
    {
      "completedWorkoutId": 4,
      "exerciseId": 5,
      "performance": "12 reps--10 reps--8 reps",
      "id": 11
    },
    {
      "completedWorkoutId": 4,
      "exerciseId": 6,
      "performance": "10 reps--10 reps--10 reps",
      "id": 12
    },
    {
      "completedWorkoutId": 5,
      "exerciseId": 10,
      "performance": "8 reps--6 reps--6 reps",
      "id": 13
    },
    {
      "completedWorkoutId": 5,
      "exerciseId": 12,
      "performance": "12 reps--10 reps--8 reps",
      "id": 14
    },
    {
      "completedWorkoutId": 5,
      "exerciseId": 13,
      "performance": "15 reps--15 reps--15 reps",
      "id": 15
    },
    {
      "completedWorkoutId": 6,
      "exerciseId": 10,
      "performance": "12 reps--10 reps--8 reps",
      "id": 16
    },
    {
      "completedWorkoutId": 6,
      "exerciseId": 13,
      "performance": "15 reps--15 reps--15 reps",
      "id": 17
    },
    {
      "completedWorkoutId": 6,
      "exerciseId": 12,
      "performance": "12 reps--10 reps--8 reps",
      "id": 18
    },
    {
      "completedWorkoutId": 7,
      "exerciseId": 14,
      "performance": "15 reps--15 reps--15 reps",
      "id": 19
    },
    {
      "completedWorkoutId": 7,
      "exerciseId": 11,
      "performance": "10 reps--8 reps--8 reps",
      "id": 20
    },
    {
      "completedWorkoutId": 7,
      "exerciseId": 15,
      "performance": "12 reps--10 reps--8 reps",
      "id": 21
    },
    {
      "completedWorkoutId": 8,
      "exerciseId": 11,
      "performance": "12 reps--10 reps--8 reps",
      "id": 22
    },
    {
      "completedWorkoutId": 8,
      "exerciseId": 14,
      "performance": "15 reps--15 reps--15 reps",
      "id": 23
    },
    {
      "completedWorkoutId": 8,
      "exerciseId": 15,
      "performance": "12 reps--10 reps--8 reps",
      "id": 24
    }
  ]
}